{% extends "auctions/layout.html" %}
{% comment %} {% extends "auctions/button_watchlist.html" %} {% endcomment %}
{% load static %} 


{% block title %}
  Auctions - {{ li.title }}
{% endblock %}

{% block body %}
{% comment %} <h2>Active listings</h2> {% endcomment %}
<div class="main">
  <div class="album py-2 bg-light">
    <div class="container">
    
{% comment %} image {% endcomment %}
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-6">
            <div class="card-body">
              <h4 class="card-title">{{ li.title }}</h4>
                {% if li.imageurl %}
                  <img src="{{li.imageurl}}" class="card-img-top">
                {% else %}
                  <svg class="bd-placeholder-img" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" aria-label="Placeholder: Image" preserveAspectRatio="xMidYMid slice" role="img" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Изображение</text></svg>
                {% endif %}
            </div>
          </div>

          <div class="col-md-6">
            <div class="card-body">
            <div>
{% comment %} Price {% endcomment %}
            <div style="dislay:inline-block; float: left">
              {% if current_price %}
                <h3 style="display:inline" class="card-title pricing-card-title"> <small class="text-muted fw-light">$</small>{{ current_price }} </h3>
              {% endif %}
            </div style="dislay:inline-block;">

              <div style="dislay:inline-block; float: right" class="watch-button">
{% comment %} watchlist button {% endcomment %}
                {% if user.is_authenticated %}
                    {% if is_watched %}
                      <img src="{% static 'auctions/c5d445485e85.svg' %}">
                        <a style="text-align:right" class='watching_buttons' href="{% url 'auctions:view_listing' li.id %}?watch=remove">
                            <span style="text-align:right" class="bt_watching">Watching</span>
                            <span style="text-align:right" class="bt_unwatch">Unwatch</span>
                        </a>
                    {% else %}
                        <img src="{% static 'auctions/afb7b0b4bbec.svg' %}">
                        <a class='watching_buttons' href="{% url 'auctions:view_listing' li.id %}?watch=add">Add to Watchlist</a>
                    {% endif %}
                {% endif %} 
                </div>
            </div>


{% comment %} bids form {% endcomment %}
              {% if user.is_authenticated %}
                {% if can_bid and li.status.status == "open" %}
                  <p style="clear:both; color: red">{{ bid_message|default:'' }}</p>
                  <div style="clear:both" class="bid-form">
                    <form class="bid-form row g-3" method="post" action="{% url 'auctions:view_listing' li.id  %}">
                      {% csrf_token %} 
                      <div class="col-auto">
                        <label for="id_price" class="visually-hidden">{{ bid_form.price.label }}</label>
                        {{ bid_form.price }}
                      </div>
                      <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-3" name='bid' value="Bid" >Bid</button>
                      </div>
                    </form>
                  </div>
                {% elif can_close and li.status.status == "open" %}
                  <div style="clear:both" class="close-auction-form">
                    <form class="close-auction-form row g-3" method="post" action="{% url 'auctions:close_auction' li.id  %}">
                    {% csrf_token %} 
                      <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-3" name='close_auction' value="True" >Close Auction</button>
                      </div>
                    </form>
                  </div>
                {% endif %}
              {% else %}

                <div style="clear:both">
                  <p><a class="link" href="{% url 'auctions:login' %}?next={{ request.path }}">Log in</a> to bid</p>
                </div>
              {% endif %}

              {% comment %} <small class="text-muted fw-light">Start price: ${{ li.startprice }}</small> {% endcomment %}
              <div> <p style="clear:both" class="card-text">{{ li.description }}</p> </div>
              
              <!-- <p class="card-text"> Bid Status{{ li.status }}</p> -->
              <ul class="list-unstyled mt-3 mb-4">
                <li><small class="text-muted fw-light">Category: {{ li.category.name }}</small></li>
                <li><small class="text-muted fw-light">Created: {{ li.creation_date }} by {{ li.creator }}</small></li>
                {% comment %} <li>Category: {{ li.category.name }}</li> {% endcomment %}
                {% comment %} <li>Created: {{ li.creation_date }} by {{ li.creator }}</li> {% endcomment %}
              </ul>

{% comment %} number of bids {% endcomment %}
              {% if li.status.status == "open" %}
                  {% if bids %}
                      <span>Number of bids: </span> <span>{{ bids|length }}. </span>
                      {% if your_bid_is_current %}
                          <span>Your bid is current.</span>
                      {% endif %}
                  {% else %}
                      <span>No bids yet</span>
                  {% endif %}
              {% elif li.status.status == "closed" %}
                  {% if bids %}
                      <span>Number of bids: </span> <span>{{ bids|length }}</span>
                      {% if your_bid_is_current %}
                          <h3><span>You are the winner!</span></h3>
                      {% else %}
                          <h3><span>The winner is: {{ winner }}</span></h3>
                      {% endif %}
                  {% else %}
                      <span>Auction is closed, no bids.</span>
                  {% endif %}
              {% endif %}

{% comment %} bids form {% endcomment %}
              {% comment %} {% if user.is_authenticated %}
                {% if can_bid and li.status.status == "open" %}
                  <p><strong>{{ bid_message|default:'' }}</strong></p>
                  <div class="bid-form">
                    <form class="bid-form row g-3" method="post" action="{% url 'auctions:view_listing' li.id  %}">
                      {% csrf_token %} 
                      <div class="col-auto">
                        <label for="id_price" class="visually-hidden">{{ bid_form.price.label }}</label>
                        {{ bid_form.price }}
                      </div>
                      <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-3" name='bid' value="Bid" >Bid</button>
                      </div>
                    </form>
                  </div>
                {% elif can_close and li.status.status == "open" %}
                  <div class="close-auction-form">
                    <form class="close-auction-form row g-3" method="post" action="{% url 'auctions:close_auction' li.id  %}">
                    {% csrf_token %} 
                      <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-3" name='close_auction' value="True" >Close Auction</button>
                      </div>
                    </form>
                  </div>
                {% endif %}
              {% else %}
                <p><a class="link" href="{% url 'auctions:login' %}">Log in</a> to bid</p>
              {% endif %} {% endcomment %}
            </div>
          </div>
        </div>
      </div>

{% comment %} comments form {% endcomment %}
      {% if user.is_authenticated %}
            <div class="comments-form">
              <form method="post" action="{% url 'auctions:comment_listing' li.id  %}">
                {% csrf_token %} 
                <div class='mb-3'>
                {{ comment_form.text }}
                </div>
                <input class="form-control" type="submit" name='comment' value="Add Comment" />
              </form>
            </div>
      {% else %}
            <div class="comments-form">
                <div class='mb-3'>
                <p><a class="link" href="{% url 'auctions:login' %}?next={{ request.path }}">Log in</a> to comment</p>
                </div>
            </div>
      {% endif %}

{% comment %} comments {% endcomment %}
      {% for comment in comments %}
        <div class="card comments">
          <div class="card-header">
            {{ comment.author }}
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>{{ comment.text }}</p>
              <footer class="blockquote-footer">{{ comment.author }} <cite title="Date"> On {{ comment.date }}</cite></footer>
            </blockquote>
          </div>
        </div>
      {% empty %}
        <div class="card comments">
            <div class="card-header">
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>No comments here yet.</p>
                <footer class="blockquote-footer"> You can be the first.<cite title="Date"></cite></footer>
              </blockquote>
            </div>
          </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endblock %}