{% extends "auctions/layout.html" %}

{% block title %}
  My Auctions - Listings I bid
{% endblock %}

{% block body %}
<h2 class="fw-normal text-center">Listings I bid</h2>
<div class="main">
  <div class="album py-2 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for li in lis %}
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">{{ li.title }}</h4>
              <p class="my-status badge {{ li.my_status }}" >{{ li.my_status }} </p>
            </div>
            {% if li.imageurl %}
            <img src="{{li.imageurl}}" class="card-img-top">
            {% else %}
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">No picture</text>
            </svg>
            {% endif %}

            <div class="card-body">
              <h1 class="card-title pricing-card-title"> <small class="text-muted fw-light">$</small>{{ li.current_price }} </h1>
              <p class="card-text"> {{ li.description| truncatewords:35  }}</p>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Category: {{ li.category.name }}</li>
                <li>Created: {{ li.creation_date }} by {{ li.creator }}</li>
              </ul>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-primary" href="{% url 'auctions:view_listing' li.id %}" role="button">View</a>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>

          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}