{% extends "auctions/layout.html" %}

{% block title %}
  Auctions - Register
{% endblock %}

{% block body %}

    <div class="form-signin">
        <h2 class="h3 mb-3 fw-normal text-center">Register</h2>
        {% if message %}
            <div>{{ message }}</div>
        {% endif %}
        <form action="{% url 'auctions:register' %}" method="post">
            {% csrf_token %}
            <div class="form-floating">
                <input class="form-control" id="floatingUsername" autofocus type="text" name="username" placeholder="Username">
                <label for="floatingUsername">Username</label>
            </div>
            <div class="form-floating">
                <input class="form-control" id="floatingEmail" type="email" name="email" placeholder="Email Address">
                <label for="floatingEmail">Email address</label>
            </div>
            <div class="form-floating">
                <input class="form-control" id="floatingPassword" type="password" name="password" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <div class="form-floating">
                <input class="form-control" id="floatingConfirmPassword" type="password" name="confirmation" placeholder="Confirm Password">
                <label for="floatingConfirmPassword">Confirm Password</label>
            </div>
            {% comment %} block to redirect on the source page after registering {% endcomment %}
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}" />
            {% else %}
                <input type="hidden" name="next" value="{{ request.GET.next }}" />
            {% endif %}
        
            <input class="w-100 btn btn-lg btn-primary" type="submit" value="Register">
        </form>
        Already have an account? <a href="{% url 'auctions:login' %}">Log In here.</a>
    </div>

{% endblock %}