{% extends "auctions/layout.html" %}

{% block body %}
<h2>Watchlist</h2>
<div class="main">
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for li in lis %}
            
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal">Title: {{ li.title }}</h4>
            </div>
            {% if li.imageurl %}
            <img src="{{li.imageurl}}" class="bd-placeholder-img card-img-top" width="100%" height="225">
            {% else %}
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">No picture</text>
            </svg>
            {% endif %}

            <div class="card-body">
              <!-- <p class="card-text"> Start price: </p> -->
              <h1 class="card-title pricing-card-title"> <small class="text-muted fw-light">$</small>{{ li.startprice }} </h1>
              <p class="card-text"> Description: {{ li.description }}</p>
              <!-- <p class="card-text"> Bid Status{{ li.status }}</p> -->
              <ul class="list-unstyled mt-3 mb-4">
                <li>Category: {{ li.category.name }}</li>
                <li>Created: {{ li.creation_date }} by {{ li.creator }}</li>
              </ul>
              <!-- <p class="card-text"> Category: {{ li.category.name }}</p>
              <p class="card-text"> Created: {{ li.creation_date }}</p>
              <p class="card-text"> Created by: {{ li.creator }}</p> -->
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>

          </div>
        </div>
        {% empty %}
            <hq>Watchlist is empty yet</h1>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}