textarea {
  min-height: 300px;
}

/* #from {
  width: 200px;
}

#to {
  width: 200px;
}

#topic {
  width: 300px;
}

#date {
  width: 200px;
} */

#error {
  color: red;
}

.view-email {
  border: 1px solid #ededed;
}

#compose-body {
  margin-bottom: 10px;
}
